#chat-bubble {
   --c: #ff703b;
   background: rgba(255, 112, 59, 0.1);
   opacity: 10;
   color: white;
   border: 3px solid #ff703b;
   padding: .5em 1em;
   position: relative;
   border-radius: 0 1em 1em 1em;
   backdrop-filter: blur(20px);
   width: 480px;
   max-width: 480px;
   overflow-y: auto;
   overflow-x: auto;
   word-wrap: break-word;
   /* white-space: pre-wrap; */
   max-height: 300px;
   /* max-height: 150px;
   max-width: 200px;
   overflow-y: auto;
   scrollbar-width: none;
   -ms-overflow-style: none; */
   /* &::after {
      content: '';
         position: absolute;
      border: .5em solid transparent;
      border-top-color: var(--c);
      border-right-color: var(--c);
      right: 100%;
      top: 0%;
   
      transform: skewY(20deg);
      transform-origin: 100% 100%;
   } */
}
#chat-bubble::-webkit-scrollbar {
   display: none; /* For Chrome, Safari, and Opera */
}

@media (max-width: 1088px) {
   #chat-bubble {
      max-width: 400px;
      width: 400px; 
   }
}

@media (max-width: 1024px) {
   #chat-bubble {
      max-width: 320px;
      width: 320px; 
   }
}

@media (max-width: 900px) {
   #chat-bubble {
      width: 160px;
      max-width: 160px;
   }
}

@media (max-width: 768px) {
   #chat-bubble {
      width: 160px;
      max-width: 160px;
   }
}

@media (max-width: 576px) {
   #chat-bubble {
      width: 120px;
      max-width: 120px;
   }
}

.load-wrapp {
   float: left;
   width: 100px;
   height: 100px;
   margin: 0 10px 10px 0;
   padding: 20px 20px 20px;
   border-radius: 5px;
   text-align: center;
   background-color: transparent;
}

.load-wrapp p {
   padding: 0 0 20px;
}
.load-wrapp:last-child {
   margin-right: 0;
}

.line {
   display: inline-block;
   width: 15px;
   height: 15px;
   border-radius: 15px;
   background-color: #ff703b;
}
.load-3 .line:nth-last-child(1) {
   animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
   animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
   animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
   0% {
      transform: translate(0, 0);
   }
   50% {
      transform: translate(0, 15px);
   }
   100% {
      transform: translate(0, 0);
   }
}

.dot-flashing {
   --c: #ff703b;
   background: rgba(255, 112, 59, 0.1);
   opacity: 10;
   color: #fff;
   border: 3px solid #ff703b;
   padding: .5em 1em;
   position: relative;
   border-radius: 0 1em 1em 1em;
   backdrop-filter: blur(20px);
   width: 480px;
   max-width: 480px;
   overflow-y: auto;
   overflow-x: auto;
   word-wrap: break-word;
   /* white-space: pre-wrap; */
   /* position: relative; */
   /* background-color: #9880ff; */
   /* color: #9880ff; */
   animation: dot-flashing 1s infinite linear alternate;
   animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
   content: "";
   display: inline-block;
   position: absolute;
   top: 0;
}
.dot-flashing::before {
   left: -15px;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: #9880ff;
   color: #9880ff;
   animation: dot-flashing 1s infinite alternate;
   animation-delay: 0s;
}
.dot-flashing::after {
   left: 15px;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: #9880ff;
   color: #9880ff;
   animation: dot-flashing 1s infinite alternate;
   animation-delay: 1s;
}

@keyframes dot-flashing {
   0% {
      background-color: #9880ff;
   }
   50%, 100% {
      background-color: rgba(152, 128, 255, 0.2);
   }
}

#chat-bubble::after {
   content: '';
   position: absolute;
   border: .5em solid transparent;
   border-top-color: var(--c);
   border-right-color: var(--c);
   right: 100%;
   top: 0%;

   transform: skewY(20deg);
   transform-origin: 500% 500%;
}